@import "../../styles.scss";

#movieSearch {
  margin: 1%;
  border-radius: 25px;
  width: 25%;
  height: 30px;
  font-size: 18px;
  padding: 10px;
}

#searchBy {
  @include Buttons;
}

#sBtn {
  @include Buttons;
}

@media all and (max-width: 700px) {
  #movieSearch {
    padding: 4px;
    font-size: 14px;
  }

  #searchBy {
    font-size: 14px;
    font-family: $titleFont;
    border-radius: 25px;
    padding: 4px;
  }
  #sBtn {
    font-size: 14px;
    font-family: $titleFont;
    border-radius: 25px;
    padding: 4px;
  }
 
}
