
@import '../../styles.scss';


#movieSearch{
    margin: 1%;
    border-radius: 25px;
    width: 50%;
    height: 30px;
    font-size: 18px;
    padding: 10px;
}

#searchBy{
    @include Buttons
}

#sBtn{
    @include Buttons
}

