html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


//default
h1{
    font-size: 2em;
}
h2{
    font-size: 1.75em;
}
h3{
    font-size: 1.4em;
}
h4{
    font-size: 1em;
}

/* You can add global styles to this file, and also import other style files */

// Fonts (titles, everthing else)
$titleFont: "Righteous", cursive;
$otherFont: "Kanit", sans-serif;

$blue: #0033aa;

th{
    font-family: $titleFont;
}

td{
    font-family: $otherFont;
}

h1,h2,h3,h4 {
    font-family: $titleFont;
}
p {
  font-family: $otherFont;
}

body{
    margin: 0px;
    font-family: $otherFont;
}

nav {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-family: $titleFont;
  font-size: 22px;
  height: 50px;
  padding: 10px;
  align-items: center;
  a {
    text-decoration: none;
    color: #fff;
  }
//   div {
//     flex: 1;
//   }
}

.poster {
  height: 300px !important;
}

#searchBox {
  align-content: center;
  flex: 2;
}

ul {
  list-style: none;
}

// Star rating system
#rating_sytem {
  /* use display:inline-flex to prevent whitespace issues. alternatively, you can put all the children of .rating-group on a single line */
  .rating-group {
    display: inline-flex;
  }

  /* make hover effect work properly in IE */
  .rating_Icon {
    pointer-events: none;
  }

  /* hide radio inputs */
  .rating_Input {
    position: absolute !important;
    left: -9999px !important;
  }

  /* set icon padding and size */
  .star {
    cursor: pointer;
    padding: 0 0.1em;
    font-size: 2rem;
  }

  /* add padding and positioning to half star labels */
  .star_Half {
    z-index: 2;
    position: relative;
    width: 15px;
    margin-right: -21px;
  }

  /* set default star color */
  .star_Icon {
    color: orange;
  }

  /* set color of none icon when unchecked */
  .rating_Icon--none {
    color: #eee;
  }

  /* if none icon is checked, make it red */
  .rating_Input--none:checked + .star .rating_Icon--none {
    color: red;
  }

  /* if any input is checked, make its following siblings grey */
  .rating_Input:checked ~ .star .star_Icon {
    color: #ddd;
  }

  /* make all stars orange on rating group hover */
  .rating-group:hover .star .star_Icon,
  .rating-group:hover .star_Half .star_Icon {
    color: orange;
  }

  /* make hovered input's following siblings grey on hover */
  .rating_Input:hover ~ .star .star_Icon,
  .rating_Input:hover ~ .star_Half .star_Icon {
    color: #ddd;
  }

  /* make none icon grey on rating group hover */
  .rating-group:hover .rating_Input--none:not(:hover) + .star .rating_Icon--none {
    color: #eee;
  }

  /* make none icon red on hover */
  .rating_Input--none:hover + .star .rating_Icon--none {
    color: red;
  }
}

// Star rating system
.rating_sytem_noHover {
  /* use display:inline-flex to prevent whitespace issues. alternatively, you can put all the children of .rating-group on a single line */
  .rating-group_noHover {
    display: inline-flex;
  }

  /* make hover effect work properly in IE */
  .rating_Icon_noHover {
    pointer-events: none;
  }

  /* hide radio inputs */
  .rating_Input_noHover {
    position: absolute !important;
    left: -9999px !important;
  }

  /* set icon padding and size */
  .star_noHover {
    padding: 0 0.1em;
    font-size: 2rem;
  }

  /* add padding and positioning to half star labels */
  .star_Half_noHover {
    z-index: 2;
    position: relative;
    width: 15px;
    margin-right: -21px;
  }

  /* set default star color */
  .star_Icon_noHover {
    color: #ddd;
  }

  .starCheck_noHover {
    color: orange;
  }

  /* set color of none icon when unchecked */
  .rating_Icon--none_noHover {
    color: #eee;
  }
}

#modal {
  // display: none;
  position: fixed;
  padding: 0;
  margin: 0;
  margin-top: -100px;
  padding-top: 100px;
  top: 100px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: auto;
  background-color: rgba(38, 38, 38, 0.7);
  cursor: auto;
}

#modal #modalCont {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border-radius: 10px;
  border: #fff 5px solid;
  width: 70%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

#modal #modalCont .ModalH {
  padding: 25px 26px;
  background-color: #32c649;
  color: #3b3c4b;
  border-radius: 10px;
  border: #fff 5px solid;
  text-align: center;
}

#modal #modalCont .ModalB {
  color: #262626;
  padding: 2px 16px;
}

#modal #modalCont .ModalB p {
  margin: 16px 0px;
}

#modal #modalCont .ModalF {
  padding: 24px 26px;
  background-color: #91b410;
  color: #f2f2f2;
}

#modal #modalCont .Close {
  cursor: pointer;
  color: #f2f2f2;
  float: right;
  font-size: 30px;
  font-weight: bold;
  transition: 0.5;
}

#moda #modalCont .Close:hover,
.modal .modalCont .Close:focus {
  color: #262626;
  text-decoration: none;
  cursor: pointer;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

//********************************** Mixins *******************************************************************************************


@mixin basic($textColor: white, $backgroundColor: lightgray){
    display: flex;
    flex-direction: column;
    background-color: $backgroundColor;
    color: $textColor;
    align-items: center;
    box-shadow: gray 5px 5px 5px;
}

@mixin Buttons($textColor: #03a, $backgroundColor: #fff) {
    cursor: pointer;
    font-size: 16px;
    font-family: $titleFont;
    border-radius: 25px;
    padding: 10px;
    background-color: $backgroundColor;
    color: $textColor;
    border: $textColor solid 2px;
    transition: 0.4s;
    &:hover {
        background-color: $textColor;
        color: $backgroundColor;
        border: $backgroundColor solid 2px;
        box-shadow: 3px 4px 8px #000000a3;
    }
}

button{
    @include Buttons(#fff,$blue);
}

@mixin align-left{
    text-align: left;
    align-content: left;
    align-items: left;
    -webkit-box-align: left;
    justify-content: left;
    justify-items: left;
    justify-self: left;
    -ms-flex-align: left;
}
@mixin align-center{
    text-align: center;
    align-content:     center;
    align-items:       center;
    -webkit-box-align: center;
    justify-content:   center;
    justify-items:     center;
    justify-self:      center;
    -ms-flex-align:    center;
}
@mixin align-right{
    text-align: right;
    align-content:     right;
    align-items:       right;
    -webkit-box-align: right;
    justify-content:   right;
    justify-items:     right;
    justify-self:      right;
    -ms-flex-align:    right;
}

//********************************** Classes ******************************************************************************************
.container {
  background-color: #0033aa;
  margin: 0px;
}

.row {
  display: flex;
  flex-direction: row;
}

.column{
    display: flex;
    flex-direction: column;
}

.left{
    @include align-left()
}

.right{
    @include align-right()
}

.page {
    align-items: center;
    width: 70%;
    margin-left: 15%;
    margin-top: 3%;
    margin-bottom: 25%;
    @include basic(black, lightgray);

}

.top{
        text-align: center;
        width: 100%;
        color: white;
        background-color: $blue;
        h1{
            padding: 3%;
            padding-bottom: 0px;
        }
        p{
            padding: 3%;
            padding-top: 0px;;
        }
}


//********************************* Responsiveness ***********************************************************************************

@media all and (max-width: 700px) {

    nav{
        display: none;
    }
}