/* You can add global styles to this file, and also import other style files */

// Fonts (titles, everthing else)
$titleFont: 'Righteous', cursive;
$otherFont: 'Kanit', sans-serif;

$blue: #0033aa;

h1,h2,h3,h4 {
    font-family: $titleFont;
}

p{
    font-family: $otherFont;
}

body{
    margin: 0px;
}

nav{
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-family: $titleFont;
    font-size: 22px;
    height: 50px;
    padding: 10px;
    align-items: center;
    a{
        text-decoration: none;
        color: #fff;
    }
    div{
        flex: 1;
    }
}

#searchBox{
    align-content: center;
    flex: 2;
}

ul {
    list-style: none;
}

//********************************** Classes ******************************************************************************************
    .container {
        background-color: #0033aa;
        margin: 0px;
    }

    .row{
        display: flex;
        flex-direction: row;
    }

//********************************** Mixins *******************************************************************************************

@mixin Buttons($textColor: #03a,$backgroundColor: #fff){
    cursor: pointer;
    font-size: 16px;
    font-family: $titleFont;
    border-radius: 25px;
    padding: 10px;
    background-color: $backgroundColor;
    color: $textColor;   
    border: $textColor solid 2px;
    &:hover {
        background-color: $textColor;
        color: $backgroundColor;
        border: $backgroundColor solid 2px;
    }
}
