<h1 id="banner">Showing Results for {{searchResult}}</h1>

<ul id="allMovies">
    <!-- printing list of movies that are clickable  -->
    <li *ngFor='let movie of list' [class.selected]="movie === selectedMovie" class="movie" (click)='select(movie)'>
        <div class="clickableMovie">
            <div class="moviePosterSection" *ngIf="movie.poster_path != null; else defaultPoster">
                <img class="poster" src="{{imageBase}}{{size}}{{movie.poster_path}}" alt='{{movie.title}} poster'
                    height="150" weight='75' />
            </div>
            <ng-template #defaultPoster>
                <img class="poster is-dark" src="assets/img/background_3.jpg" alt='{{movie.title}} poster' height="150"
                    weight='75' />
            </ng-template>

            <h2 class="movieTitle">{{movie.title}}</h2>
        </div>
    </li>
</ul>
<div *ngIf='canLoadMore; else cantLoad' id="loadMoreButton" (click)="loadMore()">
    <h3>Load More</h3>
    <i id="loadMoreIcon" class=" fa fa-sort-down"></i>
</div>
<ng-template #cantLoad>
    <div id="loadMoreButton">
        <h3>No More Movies</h3>
        <i id="loadMoreIcon" class="fa fa-sad-tear"></i>
    </div>
</ng-template>