
#allMovies{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.clickableMovie{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 5px;
    width: 200px;
}

.poster{
    height: auto;
    width: 100%; 
    border: black solid 2px; 
}

@media all and (max-width: 450px){
    .poster{

    }
    .clickableMovie{
        width: 150px;
        height: auto;
    }
}