#banner {
  text-align: center;
  font-size: 45px;
  padding: 1%;
}

#allMovies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1% 5%;
}

.movie {
  margin: 0px 25px;
  text-align: center;
  font-size: 14px;
}

.clickableMovie {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 5px;
  width: 200px;
}

.moviePosterSection {
  height: 300px;
}

.poster {
  height: auto;
  width: 100%;
  transition: 0.4s;
}

.poster:hover {
  box-shadow: 0px -4px 20px 10px #a19898a3;
  cursor: pointer;
  width: 110%;
  margin-left: -10px;
  border-right: 1px;
}

.movieTitle {
  width: 100%;
  background-color: #262626;
  transition: 0.4s;
}

#loadMoreButton {
  width: 80%;
  padding: 1% 10%;
  text-align: center;
  transition: 0.4s;
}

#loadMoreButton:hover {
  cursor: pointer;
  box-shadow: 0px -4px 20px 6px #a19898a3;
}

#loadMoreIcon {
  font-size: 70px;
  margin-top: -35px;
  transition: 0.4s;
}

#loadMoreButton h3 {
  transition: 0.4s;
}

#loadMoreButton:hover h3 {
  font-size: 30px;
}

#loadMoreButton:hover #loadMoreIcon {
  font-size: 100px;
  margin-top: -50px;
}

@media all and (max-width: 450px) {
  .clickableMovie {
    width: 150px;
    height: auto;
  }
}

@media all and (max-width: 580px) {
  .clickableMovie {
    width: 100%;
  }

  .movie {
    margin: 10px 25px;
  }

  #allMovies {
    padding: 1% 22%;
  }
}

@media all and (max-width: 450px) {
  #allMovies {
    padding: 1% 15%;
  }
}

@media all and (max-width: 380px) {
  .movie {
    margin: 5px 25px;
  }

  #allMovies {
    padding: 1% 10%;
  }
}

// #206e72;
