
<div class="page">
    <div class="top">
        <h1>Search Users</h1>
        <p>Enter a username to find a user </p>
    </div>

<!-- 
    <select id="searchBy" [(ngModel)]="searchBy">
        <option value="fname" >First Name</option>
        <option value="lname">Last Name</option>
        <option value="email">Email</option>
        <option value="username">Username</option>
        <option value="street">Address</option>
        <option value="city">City</option>
        <option value="state">State</option>
        <option value="zip">Zip</option>
    </select> -->
    
    <div class="row" id="searchbox">

        <input type="text" [(ngModel)]='search' placeholder="Username">
        <button (click)='getUsers(search)'>Get Users</button>
    </div>


    <table *ngIf='userList' id="table1">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Username</th>
            <th>Street</th>
            <th>City</th>
            <th>State</th>
        </tr>
        <tr *ngFor='let user of  userList '>
            <td id="fname">{{user.fname}}</td>
            <td id="lname">{{user.lname}}</td>
            <td id="email">{{user.email}}</td>
            <td id="username">{{user.username}}</td>
            <td id="street">{{user.street}}</td>
            <td id="city">{{user.city}}</td>
            <td id="state">{{user.state}}</td>
        <div *ngIf="!user.isAdmin">
            <button (click)="Delete(user.userID)" formtarget="_blank">Delete User</button>
            <button (click)="makeAdmin(user.userID)" formtarget="_blank">Make User Admin</button>
        </div>
    </tr>
    </table>
    <div *ngIf='userList'>
    <table  id="table2" >

            <tr *ngFor='let user of  userList'>
                <th>First Name</th>
                <td id="fname">{{user.fname}}</td>
            </tr>

            <tr *ngFor='let user of  userList'>
                <th>Last Name</th>
                <td id="lname">{{user.lname}}</td>
            </tr>

            <tr *ngFor='let user of  userList'>
                <th>Email</th>
                <td id="email">{{user.email}}</td>
            </tr>

            <tr *ngFor='let user of  userList'>
                <th>Username</th>
                <td id="username">{{user.username}}</td>
            </tr>
            <tr *ngFor='let user of  userList'>
                <th>Street</th>
                <td id="street">{{user.street}}</td>
            </tr>
        <tr *ngFor='let user of  userList'>
            <th>City</th>
            <td id="city">{{user.city}}</td>
        </tr>
        <tr *ngFor='let user of  userList'>
            <th>State</th>
            <td id="state">{{user.state}}</td>
        </tr>
        <div *ngFor='let user of  userList'>
            <div *ngIf="!user.isAdmin" class="row">
                    <button (click)="Delete(user.userID)" formtarget="_blank">Delete User</button>
                    <button (click)="makeAdmin(user.userID)" formtarget="_blank">Make User Admin</button>
                </div>
            </div>
    </table>
    </div>
    
<div *ngIf="isLoading == true" id="modal">
    <div id="modalCont">
        <div class="ModalH">
            <h2>Loading</h2>
        </div>
        <section>
            <div class="ModalB">
                <h1> User is being removed</h1>
            </div>
        </section>
    </div>
</div>
</div>