<h1>Profile Page</h1>
<button (click)="logout()" formtarget="_blank">Logout</button>
<a href="/update-user">update user Data</a>

<div id="userData">
    <h2 *ngIf="curUser">{{curUser.username}}</h2>
</div>

<section id="reviews">
    <div *ngFor="let review of reviews">
        <h2>{{review.mediaName}}</h2>
        <h3>{{review.rating}}</h3>
        <p>{{review.reviewMessage}}</p>
        <button (click)="delete(review.userReviewId,review.mediaId,review.mediaReviewId)">Delete Review</button>
        <button (click)="editReview(review.userReviewId)">Edit Review</button>
    </div>
</section>