<h1>Profile Page</h1>
<button (click)="logout()" formtarget="_blank">Logout</button>

<div id="userData" *ngIf="curUser">
    <h2 >{{curUser.username}}</h2>
    <p>{{curUser.fname}} {{curUser.lname}}</p>
    {{curUser.phone}}
    <p>
            {{curUser.street}}<br>
            {{curUser.city}},
            {{curUser.state}}
            {{curUser.zip_code}}

    </p>
</div>

<section id="reviews">
    <div *ngFor="let review of reviews">
        <h2>{{review.mediaName}}</h2>
        <h3>{{review.rating}}</h3>
        <p>{{review.reviewMessage}}</p>
        <button (click)="delete(review.userReviewId,review.mediaId,review.mediaReviewId)">Delete Review</button>
        <button (click)="editReview(review.userReviewId)">Edit Review</button>
    </div>
</section>