<p>Rating and Review a movie!</p>

<br>


<label>
    Rating: <input type="number" [formControl]='rating'>
</label>
<br>
<label>
    Review <input type="text" [formControl]='review'>
</label>

<!-- <br>

<div>
        <form (ngSubmit)='onSubmit()'>
            <input type="text" required [(ngModel)]='itemValue' name='review'>
    
            <button type="submit">Submit</button>
        </form>
    </div>
    
    <div>
        <pre *ngFor='let review of reviews | async'>{{review.content}}</pre>
</div> -->