
<div class="page">
    <div class="top">
        <h1>Update User Info</h1>
        <p>You can change any information you would like.
            <br>If you want to change youre email or password you will have to sign in again</p>
    </div>
    <form *ngIf="updateForm" [formGroup]="updateForm" (ngSubmit)="onSubmit(updateForm.value)">
        <div>
            <label for="username">
                Username
            </label>
            <input id="username" type="text" formControlName="username">
            <p class='check' *ngIf='error'>{{error.usernameError}}</p>
            
        </div>
        
        <div>
            <label for="fname">
                First name
            </label>
            <input id="fname" type="text" formControlName="fname">
            <p class='check' *ngIf='error'>{{error.nameError}}</p>
        </div>
        
        <div>
            <label for="lname">
                Last name
            </label>
            <input id="lname" type="text" formControlName="lname">
            <p class='check' *ngIf='error'>{{error.nameError}}</p>
        </div>
        
        <div>
            <label for="phone">
                Phone Number
            </label>
            <input id="phone" type="text" formControlName="phone">
            <p class='check' *ngIf='error'>{{error.phoneError}}</p>
        </div>
        
        <div>
            <label for="state">
                State
            </label>
            <input id="state" type="text" formControlName="state">
            <p class='check' *ngIf='error'>{{error.stateError}}</p>
        </div>

        <div>
            <label for="city">
                City&nbsp;
            </label>
            <input id="city" type="text" formControlName="city">
            <p class='check' *ngIf='error'>{{error.cityError}}</p>
    </div>
    
    <div>
        <label for="street">
            Street
        </label>
        <input id="street" type="text" formControlName="street">
        <p class='check' *ngIf='error'>{{error.addressError}}</p>
    </div>
    
    <div>
        <label for="zip_code">
            Zip Code
        </label>
        <input id="zip_code" type="text" formControlName="zip_code">
        <p class='check' *ngIf='error'>{{error.zipError}}</p>
    </div>
    
    <button class="button" type="submit">Update User</button>
    
</form>
<button id="changeEP" (click)="logForm()">Change email and/or Password</button>
<div *ngIf="displayModal == true" id="modal">
    <div id="modalCont">
        <div class="ModalH">
            <span class="Close" (click)="displayModal = false">&times;</span>
            <h2>Change Email and Password</h2>
        </div>
        <section>
            <div class="ModalB">
                <form *ngIf="displayLoginForm" [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
                    <h2>Confirm Email and Password</h2>
                    
                    <div>
                        <label for="email">
                            Email
                        </label>
                        <input id="email" type="text" formControlName="email">
                    </div>
                    
                    <div>
                        <label for="Password">
                            Password
                        </label>
                        <input id="Password" type="text" formControlName="Password">
                    </div>
                    
                    <button class="button" type="submit">login</button>
                </form>
                
                <form *ngIf="displayEmailPassForm" [formGroup]="updateEmail_PassForm"
                (ngSubmit)="updateEmail_Pass(updateEmail_PassForm.value)">
                
                <h2>Enter new password and email</h2>
                <div>
                    <label for="email">
                        Email
                    </label>
                    <input id="email" type="text" formControlName="email">
                </div>
                
                <div>
                    <label for="password">
                        Password
                    </label>
                        <input id="password" type="text" formControlName="password">
                    </div>
                    
                    <button class="button" type="submit">Update Email and/or Password</button>
                </form>
            </div>
        </section>
    </div>
</div>
</div>